import Vue from 'vue';
import Di{{properCase name}} from '../src/{{name}}.vue'
import README from '../README.md'
export default {
  title: 'Di{{properCase name}}',
  component: Di{{properCase name}},
  parameters: {
    notes: { README },
  },
}

export const {{properCase name}} = _ => ({
  components: { Di{{properCase name}} },
  template: `
    <div>
      <Di-{{name}}></Di-{{name}}>
    </div>
  `
})